<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="tig167.movieapp">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- Aktivitet för start sida -->
        <activity
            android:name=".StartUpActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Aktivitet för login sida -->
        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name" />

        <!-- Register! -->

        <activity
            android:name=".RegisterActivity"
            android:label="@string/app_name" />


        <activity
            android:name=".MenuActivity"
            android:label="MovieApp">
        <intent-filter>
                <action android:name="android.intent.action"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>


    </application>

</manifest>